form {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-around; 
    .formInput {
        width: 45%;

        label {
          display: flex;
          align-items: center;
          gap: 10px;


        }

        input , textarea {
          width: 100%;
          padding: 10px;
          border: none;
          border-bottom: 1px solid gray;
        }
        textarea {
          padding: 20px;
           /* Vous n'avez pas besoin de spécifier la largeur à nouveau */
      }
      .button 
      {
        display: block;
      }
    }}