body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f9fa;
}

.form-container,
.intervention-form,
.en-attente-form {
  max-width: 400px;
  padding: 20px;
  border-radius: 5px;
}

.form-container,
.en-attente-form {
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-control,
.btn-primary,
.intervention-form input,
.intervention-form textarea,
.form-group input[type="text"],
.form-group input[type="email"] {
  font-size: 18px;
  padding: 12px;
}

.btn-primary,
.intervention-form button,
.form-group button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary:hover,
.intervention-form button:hover,
.form-group button:hover {
  background-color: #0056b3;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-group label,
.form-label {
  margin-bottom: 10px;
}

.form-group input[type="text"],
.form-group input[type="email"] {
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
}

.form-group button {
  padding: 0.5rem 1rem;
  align-self: flex-start;
}
/* styles.css */

