<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Engineer Profile</title>
</head>
<body>
    {% csrf_token %}
    <h2>Welcome, {{ user.username }}</h2>
    <p>You are logged in as an Engineer.</p>
    
    <h3>Profile Information:</h3>
    <ul>
        {%for i in ing %}
        <li><strong>Email:</strong> {{ user.email }}</li>
        <li><strong>phone:</strong> {{ i.phone }}</li>
        <li><strong>adresse:</strong> {{ i.adresse }}</li>
        <li><strong>Prenom:</strong> {{ i.prenom }}</li>
        <li><strong>nom:</strong> {{ i.nom}}</li>
        {% endfor %}
        <!-- Add additional user attributes as needed -->
    </ul>
    
    <h3>Maintenance Interventions:</h3>
    <ul>
        {% for maintenance in maintenances %}
        <li>{{ maintenance.intervention }} - {{ maintenance.date_intervention }} - {{ maintenance.dure }}</li>
    {% endfor %}
    </ul>
</body>
</html>
