<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modify Intervention</title>
</head>
<body>
    <h1>Modify Intervention</h1>
    <form method="POST">
        {% csrf_token %}
   
        <label for="date_debut">Date de début:</label><br>
        <input type="date" id="date_debut" name="date_debut" value="{{ intervention.date_debut }}"><br><br>
        
        <label for="date_fin">Date de fin:</label><br>
        <input type="date" id="date_fin" name="date_fin" value="{{ intervention.date_fin }}"><br><br>
        
        <label for="service">Service:</label><br>
        {% if intervention.service.nom == "noservice" %}
            <!-- If the service is "noservice", display all services -->
            <select id="id_service" name="id_service">
                {% for s in s %}
                    <option value="{{ s.id }}" {% if intervention.service.id == s.id %} selected {% endif %}>{{ s.nom }}</option>
                {% endfor %}
            </select><br><br>
        {% else %}
            <!-- If the service is not "noservice", display only technicians -->
            <select id="technicians" name="technicians">
                {% for technician in t  %}
                    <option value="{{ technician.id }}">{{ technician.username }}</option>
                {% endfor %}
            </select><br><br>
        {% endif %}
        
        <button type="submit">Submit</button>
    </form>
</body>
</html>
