<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Technician Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        /* Your custom styles here */
        /* Add custom styles if needed */
    </style>
</head>
<body class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">Technician Page</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'modifielesnifomation' %}">Modify Information</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-5">
        <h1>Hello, {{ user.username }}</h1>
        <h2>Your email is {{ user.email }}</h2>
        <h2>your service is :{{user.service}}</h2>
        <div class="row">
            <div class="col">
                <div class="table-responsive">
                    <h2>Interventions Assigned to You</h2>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Description</th>
                                <th>Date de création</th>
                                <th>Date de début</th>
                                <th>Date de fin</th>
                                <th>État</th>
                                <th>ID du citoyen</th>
                                <th>Équipements</th>
                                <th colspan="3">Action</th> <!-- colspan="3" to merge three columns for actions -->
                            </tr>
                        </thead>
                        <tbody>
                            {% for intervention in interventions %}
                            <tr>
                                <td>{{ intervention.description }}</td>
                                <td>{{ intervention.date_creation }}</td>
                                <td>{{ intervention.date_debut }}</td>
                                <td>{{ intervention.date_fin }}</td>
                                <td>{{ intervention.etat }}</td>
                                <td>{{ intervention.citoyen.email }}</td>
                                <td>
                                    <ul>
                                        {% for equipment in intervention.equipements.all %}
                                            <li>{{ equipment.nom }}</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                                <td>
                                    <form action="{% url 'start_intervention' %}" method="post" style="display: inline;">
                                        {% csrf_token %}
                                        <input type="hidden" name="id" value="{{ intervention.id }}">
                                        <button type="submit" class="btn btn-primary">Demarer</button>
                                    </form>
                                </td>
                                <td>
                                    <form action="{% url 'finish_intervention' %}" method="post" style="display: inline;">
                                        {% csrf_token %}
                                        <input type="hidden" name="id" value="{{ intervention.id }}">
                                        <button type="submit" class="btn btn-success">Terminer</button>
                                    </form>
                                </td>
                                <td>
                                    <form action="{% url 'en' intervention.id %}" method="post" style="display: inline;">
                                        {% csrf_token %}
                                        <input type="hidden" name="id" value="{{ intervention.id }}">
                                        <button type="submit" class="btn btn-success">En Attente</button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
